*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  min-height: 100vh;
  clip-path: polygon(100% 19%, 43% 20%, 22% 34%, 59% 100%, 0 100%, 0 0, 100% 0);
  font-family: sans-serif;
}
.background{
  width: 45%;
  height: 110vh;
}
.logo{
  width: 150px;
  height: 80px;
}
.nav-bar{
  position: fixed;
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  background: #fafbf9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* .nav-item-container{
  width: 40%;
  height: 100%;
  background: black; 
  display: flex;
  align-items: center;
} */
.nav-items{
  /* height: 100%;*/
  width: 30%; 
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex: 1; */

  /* background: black; */
}
.burger{
  display: none;
}
.item{
  width: 100px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.item:hover{
  /* height: 80px; */
  align-items: center;
  /* background: #e7f3ff; */
  cursor: pointer;
}


/* @media screen and (max-width: 1024px) {
  .App{
    background-size: 100% 110%;
  }
} */
@media screen and (max-width: 650px) {
  .App{
    clip-path: none;
  }
  
  .background{
    margin-top: -80px;
    width: 60%;
    height: 110vh;
  }
  .nav-bar{ 
    position: relative;
  } 
  .dash{
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
  }
  .burger{
    position: absolute; 
    margin: 10px auto;
    top: 30%; 
    right: 5%;
    display:block;
    cursor: pointer;
    transform: translate(-5%,-50%);
    
  }
  .nav-items{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100%;
    margin-top: 90vh;
    display: none;
  }
  .nav-items.active{
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  }
  
}
